@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cursor-color: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-fira-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  cursor: none;
}

.custom-cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--cursor-color);
  mix-blend-mode: difference;
  transition: width 0.15s, height 0.15s, background 0.2s, transform 0.1s;
  will-change: transform, width, height, background;
}
